

@font-face {
    font-family: "r-bold";
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "r-medium";
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "r-regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "r-thin";
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "r-light";
    src: url(../fonts/Roboto-Light.ttf);
}