@import "reset.scss";

body {
  display: flex;
  background: rgb(216, 63, 63);
  color: rgb(37, 39, 39);
}
h1 {
  font-style: italic;
  text-shadow: 4px 3px 2px rgb(115, 75, 224);
  font-size: 40px;
  word-spacing: 5px;
}
